.nested-fields
  .row
    .col-md-12
      = f.object.form_question.inspect
      = f.hidden_field :form_question_id, value: f.object.form_question.id
      = f.text_field :value,  class: 'form-control', placeholder: f.object.form_question.name
